<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/userupdate}" th:object="${edituser}">
    <input type="hidden" th:field="*{id}" id="id"/>
    </br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    </br>
    <label for="surname">Name</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    </br>
    <label for="age">Name</label>
    <input type="text" th:field="*{age}" id="age"/>
    </br>
    <label for="email">Name</label>
    <input type="text" th:field="*{email}" id="email"/>
    </br>
    <input type="submit" value="Update"/>
</form>
</body>
</html>