<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<!-- Используя таблицу -->
<h2>User Details</h2>
<form th:method="GET" th:action="@{/user}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    </br>
    <label for="surname">Name</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    </br>
    <label for="age">Name</label>
    <input type="text" th:field="*{age}" id="age"/>
    </br>
    <label for="email">Name</label>
    <input type="text" th:field="*{email}" id="email"/>
    </br>
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>