<!DOCTYPE html>
<html lang="en" smlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #5ee062;
            color: black;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            border: black;
            cursor: auto;
            border-radius: 10px;
        }
        .button:hover {
            background-color: #1a671a;
        }
    </style>
</head>
<body>

<!-- Используя таблицу -->
<table th:border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Использование Thymeleaf для отображения данных из модели -->
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td>
            <button type="button" name="button_update"><a th:href="@{/user?id={id}(id=${user.getId()})}">EDIT</a></button>
            <button type="button" name="button_delete">DELETE</button>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" name="button"><a href="/new">Add new user</a></button>

</body>
</html>