<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: yellow;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border: black;
            cursor: crosshair;
            border-radius: 4px;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

<!-- Используя таблицу -->
<table th:border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <!-- Использование Thymeleaf для отображения данных из модели -->
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">Email</td>
    </tr>
    </tbody>
</table>
<a href="#" class="button">Press me</a>
</body>
</html>